
* {
    box-sizing: border-box;
}
html, body, #root, #defaultLayout, #guestLayout {
    min-height: 100vh;
    min-width: 100%;
}

@import "bootswatch/dist/lux/bootstrap.min.css";

.navbar {
    align-items: start;
    // margin-left: 50%;
}

.btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    &:hover{
        background-color: #fff;
        color: #443735;
        border-color: #443735;
    }
}
.my-form {
    color: black;
    border: 2px solid #fff;
    backdrop-filter: blur(5px);
    padding: 3rem;
    overflow-y: auto;
    max-height: 80vh;
}

.table {
    background-color: #96724d;
    color: white;
}

.accordion-button {
    background-color: #443735;
    color: white;
}
.accordion-body {
    background-color: #443735;
    overflow-x:scroll;
    max-height: 60vh;
}

.accordion{
    max-height: 80vh;
}

.my-link{
    color: white;
    text-decoration: none;
    &:hover{
        color: wheat;
    }
}

.my-sizing{
    height: 80vh;

}

.table-responsive{
    background-color: #96724d;

}
