@import "bootswatch/dist/lux/bootstrap.min.css";

.navbar {
    align-items: start;
    // margin-left: 50%;
}

.btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}
.my-form {
    color: black;
    border: 2px solid #fff;
    backdrop-filter: blur(5px);
    padding: 3rem;
    overflow-y: auto;
    max-height: 80vh;
}

.table {
    background-color: #96724d;
    color: white;
}

.accordion-button {
    background-color: #443735;
    color: white;
}
.accordion-body {
    background-color: #443735;
    overflow-x:scroll;
    max-height: 60vh;
}

.accordion{
    max-height: 80vh;
}
