@import "bootswatch/dist/lux/bootstrap.min.css";

.navbar {
    align-items: start;
    // margin-left: 50%;
}

.btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}
.my-form{
    color: black;
    border: 2px solid #fff;
    backdrop-filter: blur(5px);
    padding: 3rem;
}
