.bg-image {
    background: url(/images/mapsphoto.jpg);
    height: 100vh;
    object-fit: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    table{
        th{
            font-size: 1.3rem;
        }
        td{
            font-size: 1.2rem;
        }
    }
}
