.bg-image {
    background: url(images/loginphoto.jpg);
    height: 100vh;
    object-fit: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
